In [5]:
import sqlite3

conn = sqlite3.connect("sales_data.db")

In [6]:
cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS sales")

cursor.execute("""
CREATE TABLE sales (
    id INTEGER PRIMARY KEY,
    date TEXT,
    product TEXT,
    category TEXT,
    region TEXT,
    quantity INTEGER,
    price REAL
)
""")

sample_data = [
    ('2024-06-01', 'Laptop', 'Electronics', 'North', 5, 750.0),
    ('2024-06-01', 'Phone', 'Electronics', 'East', 8, 500.0),
    ('2024-06-02', 'Tablet', 'Electronics', 'West', 3, 300.0),
    ('2024-06-03', 'Monitor', 'Electronics', 'South', 6, 200.0),
    ('2024-06-03', 'Keyboard', 'Accessories', 'North', 15, 40.0),
    ('2024-06-04', 'Mouse', 'Accessories', 'East', 20, 25.0),
    ('2024-06-05', 'Laptop', 'Electronics', 'West', 4, 750.0),
    ('2024-06-05', 'Tablet', 'Electronics', 'South', 2, 300.0),
    ('2024-06-06', 'Phone', 'Electronics', 'North', 7, 500.0),
    ('2024-06-07', 'Monitor', 'Electronics', 'East', 5, 200.0),
    ('2024-06-07', 'Mouse', 'Accessories', 'West', 10, 25.0),
]

cursor.executemany("""
INSERT INTO sales (date, product, category, region, quantity, price) 
VALUES (?, ?, ?, ?, ?, ?)
""", sample_data)

conn.commit()

In [7]:
import pandas as pd

query = """
SELECT 
    product,
    category,
    region,
    SUM(quantity) AS total_quantity,
    ROUND(SUM(quantity * price), 2) AS total_revenue,
    COUNT(*) AS transactions
FROM sales
GROUP BY product, category, region
ORDER BY total_revenue DESC
"""

df = pd.read_sql_query(query, conn)

In [8]:
print("Sales Summary:\n")
print(df)

Sales Summary:

     product     category region  total_quantity  total_revenue  transactions
0      Phone  Electronics   East               8         4000.0             1
1     Laptop  Electronics  North               5         3750.0             1
2      Phone  Electronics  North               7         3500.0             1
3     Laptop  Electronics   West               4         3000.0             1
4    Monitor  Electronics  South               6         1200.0             1
5    Monitor  Electronics   East               5         1000.0             1
6     Tablet  Electronics   West               3          900.0             1
7   Keyboard  Accessories  North              15          600.0             1
8     Tablet  Electronics  South               2          600.0             1
9      Mouse  Accessories   East              20          500.0             1
10     Mouse  Accessories   West              10          250.0             1

In [ ]:
import matplotlib.pyplot as plt

# Summarize revenue by product
chart_data = df.groupby('product')['total_revenue'].sum().reset_index()

# Plotting
chart_data.plot(kind='bar', x='product', y='total_revenue', legend=False, color='coral')

# Styling
plt.title("Total Revenue by Product")
plt.xlabel("Product")
plt.ylabel("Revenue")
plt.tight_layout()

# Show the chart
plt.show()

# Optional: Save chart
# plt.savefig("sales_chart.png")